**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache

# Build directories
/classes
/logs
/build
/projects/*/logs
/projects/*/build
/buildSrc/build
/out
/buildSrc/out
/jars
/doc/out/
/node_modules
.jqwik-database

# Runtime directories
/run
/projects/*/run

*.ipr
*.iws
*.iml
.idea
.gradle
*.DS_Store

/.classpath
/.project
/.settings
/.vscode
*.launch

/projects/*/src/generated/resources/.cache